.page-header {
    background-color: rgb(47, 0, 155);
    color: white;
}

.mar-bot-20 {
    margin-bottom: 20px;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-20 {
    margin: 20px;
}

.pad-40 {
    padding: 40px;
}

#user-picture,
#match-picture {
	max-width: 50%;
	height: auto;
}

.border-1{
    border: 1px black solid;
}